* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.NdiaUtil {
    background-color: rgb(194, 194, 194);
}



table {
border: 1px black solid;
}

td {
    border: 1px black solid;
}

tr {
    border: 1px black solid;
}

th {
    border: 1px black solid;
}